body {
    margin: 0;
    background: black;
    overflow: hidden;
}

body.button-hover .cursor-glow {
    opacity: 0;
    visibility: hidden;
}

.cursor-glow {
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle,
        rgba(0, 170, 255, 0.6) 0%,
        rgba(0, 170, 255, 0.2) 50%,
        transparent 60%);
    pointer-events: none;
    transform: translate(-40%, -50%);
    filter: blur(40px);
    z-index: 9999;
    transition: transform 0.01s linear;
}

button{
    border-radius: 15px;
    width: 300px;
    height: 150px;
    background-color: #111;
    color: white;
    border: 2px solid rgba(0, 170, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.6), 0 0 20px rgba(4, 0, 5, 0.4), 0 0 30px rgba(0, 170, 255, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

button:hover{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: rgba(0, 170, 255, 0.6);
    color: blas;
    box-shadow: 0 0 40px rgba(153, 0, 255, 0.6), 0 0 20px rgba(85, 2, 105, 0.4), 0 0 30px rgba(49, 1, 68, 0.2);
    transform-origin: center;
}
