body {
    margin: 0;
    background: black;
    overflow: hidden;
}

body.button-hover .cursor-glow {
    opacity: 0;
    visibility: hidden;
}

.cursor-glow {
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle,
        rgba(0, 170, 255, 0.6) 0%,
        rgba(0, 170, 255, 0.2) 50%,
        transparent 60%);
    pointer-events: none;
    transform: translate(-40%, -50%);
    filter: blur(40px);
    z-index: 9999;
    transition: transform 0.01s linear;
}

button{
    border-radius: 15px;
    width: 150px;
    height: 300px;
    background-color: #111;
    color:White;
    border: 2px solid rgba(0, 170, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.6), 0 0 20px rgba(4, 0, 5, 0.4), 0 0 30px rgba(0, 170, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.5);
    background-color: rgba(0, 170, 255, 0.6) 0%;
    color: white;
    color:black;
}
